[submodule "Submodules/Flazzy"]
	path = Submodules/Flazzy
	url = https://github.com/ArachisH/Flazzy
[submodule "Submodules/Eavesdrop"]
	path = Submodules/Eavesdrop
	url = https://github.com/ArachisH/Eavesdrop
